/* WHATSAPP BUTTON */

.whatsapp-float-button {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: #23d567;
    color: #fff;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    z-index: 10;
    align-items: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;

    display: flex;
    justify-content: center;
    font-size: 1.8em;

    -webkit-animation: scale-up-center 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) infinite alternate-reverse both;
    animation: scale-up-center 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) infinite alternate-reverse both;
    transition: .25s;

    @media (max-width: 720px) {
    }
}

.whatsapp-float-button:hover {
    background-color: #22ad57;
}

a.whatsapp-float-button {
    color: #fff !important;
    text-decoration: none;

}

@-webkit-keyframes scale-up-center {

    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);

    }



    100% {
        -webkit-transform: scale(1);
        transform: scale(1);

    }

}


@keyframes scale-up-center {

    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);

    }


    100% {
        -webkit-transform: scale(1);
        transform: scale(1);

    }
}













/*  */